.blog_section{
    background-image: url('../../../../Assest/about.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_section h1{
    margin-top: 100px;
    font-size: 50px;
    
}
.blogs{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.blog_side{
    width: 80%;
}
.box_blog{
    width: 80%;
    overflow: hidden;
    margin-left: 10%;
    position: relative;
    box-shadow: 2px 2px 2px 2px #d3d3d345;
    margin-bottom: 15px;
}
.boxBlog_img{
    width: 100%;
}
.boxblog_date{
    background-color: #014b85;
    width: 80px;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    font-size:30px;
    color: white;
    font-weight: 600;
    margin-top: -50px;
    position: absolute;
    left: 50px;
    margin-bottom: 80px;
}
.blog_text{
    margin-top: 50px;
    line-height: 40px;
    padding-left: 20px;
}
.blog_text h1{
    width: 55%;
    font-size: 18px;
    font-family: 700;
}
.blog_icon ,.icon_person,.icon_comment{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding:10px

}
.icon_person,.icon_comment{
    color: #827f7f;
}
.icon_person:hover,.icon_comment:hover{
    color: #014b85;
    cursor: pointer;
}
    /*  */
.blog_side{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0px;
}
.blog_side .blog1{
    width: 100%;
}
.blog_side .blog2{
    width: 70%;
}
.blog_side .blog2 input {
    width: 150px;
    height:50px;
    padding-left: 10px;
    border: #616161;
    box-shadow: 1px 1px 1px 1px #888888;

}
.blog_search{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    

}
.blog_search button{
    background-color: #014b85;
    border: none;
    width: 60px;
    height:50px;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px #888888;


}
.left_search{
    background-color: #fbf9ff   ;
    width: 70%;
    height: 170px;
    justify-content: center;
    align-items: center;
}
.left_search .btn_search{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 210px;
    height: 50px;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
    border: #014b85 1px solid;
    background-color: #fff;
    color: #014b85;
    font-size: 20px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 1px  1px #888888;

}
.left_search .btn_search:hover{
    background-color:#014b85;
    color: white;
    transform: scale(1);
    transition: 1s;
}
.category{
    background-color: #fbf9ff   ;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 10px;
    line-height: 70px;
    margin-bottom: 20px;
}
.category p{
    color: #616161;
}
.category p:hover{
    color: #014b85;
    cursor: pointer;
}
.category hr{
    border-radius: 50%;
    width: 90%;
    margin: auto;
    
}
.blog2 .photos{
    background-color: #fbf9ff   ;
    width: 70%;
    height: auto;
}
.blog2 .photos img{
    width: 100px;
    margin-top: 20px;
}
.Photo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Photo p{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
}
.Photo .cat_color{
    color: #616161;
}
.photos hr{
    width: 90%;
    border-radius: 50%; 
    padding-left: 10px;
    margin: auto;
}
.photos h3{
    line-height: 50px;
    padding-left: 10px;
}
.Photo:hover{
    color: #014b85;
    
}
.tag_cloud{
    background-color: #fbf9ff   ;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    line-height: 70px;
    height: auto;
}
.tag_cloud .cloud_box{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: auto;
    justify-content: center;
    align-items: center ;
    padding-left: 20px;
}
.cloud{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #616161;
    box-shadow: 1px  1px 1px 1px  #8888884a;

}
.cloud:hover{
    background-color: #014b85;
    color: #fff;
    border: #014b85 1px solid;
    box-shadow: none;
}
.tag_cloud h2{
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tag_cloud hr{
    width: 90%;
    margin: auto;
    border-radius: 50%;
}
/* ------------ */
.feeds{
    background-color: #fbf9ff   ;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    line-height: 70px;
    height: auto;
}
.feeds h2{
padding-left: 10px;
font-size: 18px;
font-family: sans-serif;
}
.feeds hr {
    width: 90%;
    border-radius: 50%;
    margin: auto;
}
.feeds img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.imgFeed{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    padding: 5px;
}
.Newsletter{
    background-color: #fbf9ff   ;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    line-height: 70px;
    height: auto;
}
.Newsletter .letterinput input{
    width: 80%;
    margin-left: 10%;
    box-shadow: 1px 2px 1px 2px #d3d3d345;

}
.Newsletter button{
    width: 80%;
    margin-left: 10%;
    height: 50px;
   
    margin-bottom: 10px;
    border: #014b85 1px solid;
    background-color: #fff;
    color: #014b85;
    font-size: 20px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 1px  1px #888888;
}
.Newsletter button:hover{
    background-color: #014b85;
    color: #fff;
}